* {
    margin: 0; 
    font-family: 'Open Sans', sans-serif; 
}


h1 {
    font-size: 80px;
    font-weight: 600;
    color: #192b59;
    line-height: 90px;
} 

a {
    text-decoration: none;
}

.main-menu a {
    font-size: 12px;
    color:#6e7ea9;
    font-weight: 700;
    text-transform: uppercase;  
}

.main-menu {
    list-style: none;
    letter-spacing: 4px;
}

ul .btn-menu {
    color: #fff;
    background-color: #1085e4;
    font-weight: 400;
}